<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1 style="font-size:80px;text-align:center;margin-bottom:40px">
            {{ title }}
          </h1>

      <h3>Nejaky text o appke</h3>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pole-tab" data-toggle="tab" href="#pole" role="tab" aria-controls="pole" aria-selected="true">Pole</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="zviera-tab" data-toggle="tab" href="#zviera" role="tab" aria-controls="zviera" aria-selected="false">Zvierata</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="pole" role="tabpanel" aria-labelledby="pole-tab">
          <app-polia>Polia</app-polia>
        </div>
        <div class="tab-pane fade" id="zviera" role="tabpanel" aria-labelledby="zviera-tab">
          <app-zvierata>Zvieratá</app-zvierata>
        </div>
      </div>