<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<p>
    <app-polia>Polia</app-polia>
  </p>

  <!-- 
<div class="container"> 
  <div class="row">
    <div class="col-md-12">
      <h3>Zvolte požadovanú entitu</h3>

      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs " (click)="select(pole)">
            <li>
              <a href="#tab_default_1" data-toggle="tab">
                Polia </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
                Zvieratá </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="tab_default_1">
              <p>
                <app-polia>Polia</app-polia>
              </p>
            </div>
            <div class="tab-pane" id="tab_default_2">
              <p>
                Howdy, I'm in Tab 2.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h2>Zvolte požadovanú entitu</h2>
    <ul class="nav nav-tabs">
      <li>
        <a data-toggle="tab" href="#home">Polia</a>
      </li>
      <li>
        <a data-toggle="tab" href="#menu1">Zvieratá</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade">
        <p>
          <app-polia>Polia</app-polia>
        </p>
      </div>
      <div id="menu1" class="tab-pane fade">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>

</body>

-->