<form (ngSubmit)="odoslatZviera()" #zvieraForm="ngForm" *ngIf="zviera">
  <!-- Modal -->
  <div id="zvieraEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{nazovModalnehoOkna}}</h4>
        </div>
        <div class="modal-body">
            <!-- <p>{{vypisZvierata}}</p> -->
          <div class="form-group">
            <label>Registračné číslo:</label>
            <input type="text" class="form-control" [(ngModel)]="zviera.registracneCislo" name="registracneCislo" required #validne="ngModel"
            />
            <div [hidden]="validne.valid || validne.pristine" class="alert alert-danger">Registračné číslo nemôže byť prázdne.</div>
          </div>
          <div class="form-group">
            <label>Druh:</label>
            <input type="text" class="form-control" [(ngModel)]="zviera.druh" name="druh" required #validne="ngModel" />
            <div [hidden]="validne.valid || validne.pristine" class="alert alert-danger">Druh nemôže byť prázdne.</div>
          </div>
          <div class="form-group">
            <label>Plemeno:</label>
            <input type="text" class="form-control" [(ngModel)]="zviera.plemeno" name="plemeno" required #validne="ngModel" />
            <div [hidden]="validne.valid || validne.pristine" class="alert alert-danger">Plemeno nemôže byť prázdne.</div>
          </div>
          <div class="form-group">
            <label>Pohlavie:</label>
            <input type="text" class="form-control" [(ngModel)]="zviera.pohlavie" name="pohlavie" required #validne="ngModel" />
            <div [hidden]="validne.valid || validne.pristine" class="alert alert-danger">Pohlavie nemôže byť prázdne.</div>
          </div>
          <div class="form-group">
            <label>Kúpna cena:</label>
            <input type="text" class="form-control" [(ngModel)]="zviera.kupnaCena" name="kupnaCena" required #validne="ngModel" />
            <div [hidden]="validne.valid || validne.pristine" class="alert alert-danger">Kúpna cena nemôže byť prázdne.</div>
          </div>
          <div class="form-group">
            <label>Dátum narodenia:</label>
            <input type="text" class="form-control" [(ngModel)]="zviera.fdatumNarodenia" name="fdatumNarodenia" required #validne="ngModel" />
            <div [hidden]="validne.valid || validne.pristine" class="alert alert-danger">Dátum narodenia nemôže byť prázdne.</div>
          </div>
          <div class="form-group">
            <label>Dátum narodenia:</label>
            <input type="text" class="form-control" [(ngModel)]="zviera.fdatumNadobudnutia" name="fdatumNadobudnutia" required #validne="ngModel" />
            <div [hidden]="validne.valid || validne.pristine" class="alert alert-danger">Dátum nadobudnutia nemôže byť prázdne.</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Zrusiť</button>
          <button type="submit" class="btn btn-primary" [disabled]="!poleForm.form.valid">Uložiť</button>
        </div>
      </div>

    </div>
  </div>
</form>